  $primary-text-color: #212121;
  $primary-whity-color: #ffffff;
  $accent-color: #2196f3;
  $link-color: #757575;
  $logo-color: #000000;
  $bgr-color: #2f303a;
  $secondary-bgr-color: #f5f4fa;
  $button-hover: #188ce8;
  $hero-border-color: #ececec;
  $color-icons: #afb1b8;